Repository defenseunicorns/homebrew-tap, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/tech-leads, @defenseunicorns/uds-platform-leads, @defenseunicorns/zarf-admin, @defenseunicorns/swf-leads, @jeff-mccoy, @austenbryan

build(release): upgrade zarf to v0.36.1
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.36.1
  zarf@0.36.1.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.13.1
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.13.1
  uds@0.13.1.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli version v0.14.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.14.0
  uds@0.14.0.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.37.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.37.0
  zarf@0.37.0.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.38.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.38.0
  zarf@0.38.0.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.38.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.38.0
  zarf@0.38.0.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.38.1
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.38.1
  zarf@0.38.1.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.38.2
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.38.2
  zarf@0.38.2.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.14.1
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.14.1
  uds@0.14.1.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.38.3
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.38.3
  zarf@0.38.3.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.14.2
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.14.2
  uds@0.14.2.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.39.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.39.0
  zarf@0.39.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.15.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.15.0
  uds@0.15.0.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.40.1
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.40.1
  zarf@0.40.1.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for maru-runner version v0.2.3
  maru.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for maru-runner versioned release v0.2.3
  maru@0.2.3.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for uds-cli version v0.16.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.16.0
  uds@0.16.0.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for maru-runner version v0.3.0
  maru.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for maru-runner versioned release v0.3.0
  maru@0.3.0.rb
Owners: @defenseunicorns/swf-leads

build(release): upgrade zarf to v0.41.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.41.0
  zarf@0.41.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.17.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.17.0
  uds@0.17.0.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for lula version v0.9.1
  lula.rb
Owners: @defenseunicorns/tech-leads

Brew formula update for lula versioned release v0.9.1
  lula@0.9.1.rb
Owners: @defenseunicorns/tech-leads

CODEOWNERS:

/* @defenseunicorns/tech-leads

/uds* @defenseunicorns/uds-platform-leads
/zarf* @defenseunicorns/zarf-admin
/maru* @defenseunicorns/swf-leads

# Additional privileged files
/CODEOWNERS @jeff-mccoy @austenbryan
/LICENSE @jeff-mccoy @austenbryan
