Repository defenseunicorns/homebrew-tap, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/tech-leads, @defenseunicorns/uds-platform-leads, @defenseunicorns/zarf-admin, @defenseunicorns/swf-leads, @jeff-mccoy, @austenbryan

build(release): upgrade zarf to v0.58.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.58.0
  zarf@0.58.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.27.9
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.27.9
  uds@0.27.9.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.59.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.59.0
  zarf@0.59.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.27.10
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.27.10
  uds@0.27.10.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.60.0-rc1
  zarf@latest-rc.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.60.0-rc1
  zarf@0.60.0-rc1.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.60.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.60.0
  zarf@0.60.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.27.11
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.27.11
  uds@0.27.11.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.61.0-rc1
  zarf@latest-rc.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.61.0-rc1
  zarf@0.61.0-rc1.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.61.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.61.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.61.0
  zarf@0.61.0.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.61.1
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.61.1
  zarf@0.61.1.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.61.2
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.61.2
  zarf@0.61.2.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.27.13
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.27.13
  uds@0.27.13.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade maru2 to v0.5.2
  maru2.rb
Owners: @defenseunicorns/swf-leads

build(release): maru2@v0.5.2
  maru2@0.5.2.rb
Owners: @defenseunicorns/swf-leads

CODEOWNERS:

/* @defenseunicorns/tech-leads

/uds* @defenseunicorns/uds-platform-leads
/zarf* @defenseunicorns/zarf-admin
/maru* @defenseunicorns/swf-leads

# Additional privileged files
/CODEOWNERS @jeff-mccoy @austenbryan
/LICENSE @jeff-mccoy @austenbryan
