Repository defenseunicorns/homebrew-tap, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/tech-leads, @defenseunicorns/uds-platform-leads, @defenseunicorns/zarf-admin, @defenseunicorns/swf-leads, @jeff-mccoy, @austenbryan

CODEOWNERS:

/* @defenseunicorns/tech-leads

/uds* @defenseunicorns/uds-platform-leads
/zarf* @defenseunicorns/zarf-admin
/maru* @defenseunicorns/swf-leads

# Additional privileged files
/CODEOWNERS @jeff-mccoy @austenbryan
/LICENSE @jeff-mccoy @austenbryan

build(release): upgrade zarf to v0.46.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.46.0
  zarf@0.46.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for maru-runner version v0.5.0
  maru.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for maru-runner versioned release v0.5.0
  maru@0.5.0.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for lula version v0.15.0
  lula.rb
Owners: @defenseunicorns/tech-leads

Brew formula update for lula versioned release v0.15.0
  lula@0.15.0.rb
Owners: @defenseunicorns/tech-leads

build(release): upgrade zarf to v0.47.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.47.0
  zarf@0.47.0.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.48.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.48.0
  zarf@0.48.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for lula version v0.16.0
  lula.rb
Owners: @defenseunicorns/tech-leads

Brew formula update for lula versioned release v0.16.0
  lula@0.16.0.rb
Owners: @defenseunicorns/tech-leads

build(release): upgrade zarf to v0.48.1
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.48.1
  zarf@0.48.1.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.21.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.21.0
  uds@0.21.0.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.49.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.49.0
  zarf@0.49.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.22.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.22.0
  uds@0.22.0.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.49.1
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.49.1
  zarf@0.49.1.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.23.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.23.0
  uds@0.23.0.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for maru-runner version v0.6.0
  maru.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for maru-runner versioned release v0.6.0
  maru@0.6.0.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for uds-cli version v0.24.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.24.0
  uds@0.24.0.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.50.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.50.0
  zarf@0.50.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.25.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.25.0
  uds@0.25.0.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.51.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.51.0
  zarf@0.51.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.26.1
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.26.1
  uds@0.26.1.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli version v0.26.2
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.26.2
  uds@0.26.2.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.52.1
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.52.1
  zarf@0.52.1.rb
Owners: @defenseunicorns/zarf-admin
