Repository defenseunicorns/homebrew-tap, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/tech-leads, @defenseunicorns/uds-platform-leads, @defenseunicorns/zarf-admin, @defenseunicorns/swf-leads, @jeff-mccoy, @austenbryan

Brew formula update for maru-runner version v0.3.1
  maru.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for maru-runner versioned release v0.3.1
  maru@0.3.1.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for maru-runner version v0.4.0
  maru.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for maru-runner versioned release v0.4.0
  maru@0.4.0.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for uds-cli version v0.18.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.18.0
  uds@0.18.0.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.42.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.42.0
  zarf@0.42.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for lula version v0.10.0
  lula.rb
Owners: @defenseunicorns/tech-leads

Brew formula update for lula versioned release v0.10.0
  lula@0.10.0.rb
Owners: @defenseunicorns/tech-leads

build(release): upgrade zarf to v0.42.1
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.42.1
  zarf@0.42.1.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.42.2
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.42.2
  zarf@0.42.2.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.19.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.19.0
  uds@0.19.0.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for lula version v0.11.0
  lula.rb
Owners: @defenseunicorns/tech-leads

Brew formula update for lula versioned release v0.11.0
  lula@0.11.0.rb
Owners: @defenseunicorns/tech-leads

build(release): upgrade zarf to v0.43.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.43.0
  zarf@0.43.0.rb
Owners: @defenseunicorns/zarf-admin

build(release): upgrade zarf to v0.43.1
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.43.1
  zarf@0.43.1.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for lula version v0.12.0
  lula.rb
Owners: @defenseunicorns/tech-leads

Brew formula update for lula versioned release v0.12.0
  lula@0.12.0.rb
Owners: @defenseunicorns/tech-leads

Brew formula update for uds-cli version v0.19.1
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.19.1
  uds@0.19.1.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli version v0.19.2
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.19.2
  uds@0.19.2.rb
Owners: @defenseunicorns/uds-platform-leads

build(release): upgrade zarf to v0.44.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.44.0
  zarf@0.44.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for lula version v0.13.0
  lula.rb
Owners: @defenseunicorns/tech-leads

Brew formula update for lula versioned release v0.13.0
  lula@0.13.0.rb
Owners: @defenseunicorns/tech-leads

build(release): upgrade zarf to v0.45.0
  zarf.rb
Owners: @defenseunicorns/zarf-admin

build(release): zarf@v0.45.0
  zarf@0.45.0.rb
Owners: @defenseunicorns/zarf-admin

Brew formula update for uds-cli version v0.20.0
  uds.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for uds-cli versioned release v0.20.0
  uds@0.20.0.rb
Owners: @defenseunicorns/uds-platform-leads

Brew formula update for maru-runner version v0.4.1
  maru.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for maru-runner versioned release v0.4.1
  maru@0.4.1.rb
Owners: @defenseunicorns/swf-leads

Brew formula update for lula version v0.14.0
  lula.rb
Owners: @defenseunicorns/tech-leads

Brew formula update for lula versioned release v0.14.0
  lula@0.14.0.rb
Owners: @defenseunicorns/tech-leads

CODEOWNERS:

/* @defenseunicorns/tech-leads

/uds* @defenseunicorns/uds-platform-leads
/zarf* @defenseunicorns/zarf-admin
/maru* @defenseunicorns/swf-leads

# Additional privileged files
/CODEOWNERS @jeff-mccoy @austenbryan
/LICENSE @jeff-mccoy @austenbryan
